@page
@model RMS.Pages.ToIt

@{
    Layout = "~/Pages/Shared/_ToIt.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>Students</title>
</head>
<body>
<h1> Welcome   @Model.Name </h1>

<form method="post">
        <button asp-page-handler="Logout" type="submit" class="btn btn-primary" style="margin: 10px" >Logout</button>
</form>


<div>

</div>
</body>
</html>