@page
@model RMS.Pages.ToProfTa

@{
    Layout = "~/Pages/Shared/_ToProfTa.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h1>Welcome @Model.Name</h1>
</div>
</body>
</html>