@page
@model RMS.Pages.ToProfTa

@{
    Layout = "~/Pages/Shared/_ToProfTa.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h1>Welcome @Model.Name</h1>
    <form method="post">
            <button asp-page-handler="Logout" type="submit" class="btn btn-primary" style="margin: 10px" >Logout</button>
    </form>
</div>
</body>
</html>