@page
@model RMS.Pages.ToStudent

@{
    Layout = "~/Pages/Shared/_Layout1.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>Students</title>
</head>
<body>
<h1> Welcome   @Model.Name </h1>


<div>

</div>
</body>
</html>